top_left_day = 2019-01-27 // the (0|0) of the image
commit_image = 11122213...2134124 // collection of numbers for the commits of each day
discord_token = NT... // the discord token of the bot
admin = 39...18 // the discord-user-id of the admin of the bot
lyrics = hello+world+what+a+great+day // the word for each commit, plus seperated
